@mixin above($above) {
  @media screen and (min-width: $above){
    @content;
  }
}

@mixin below($below) {
  @media screen and (max-width: $below){
    @content;
  }
}

@mixin between($low, $high) {
  @media screen and (max-width: $low), screen and (max-width: $high) {
    @content;
  }
}

@mixin bg-color-fallback($r, $g, $b, $a) {
  background-color: rgb($r, $g, $b);
  background-color: rgba($r, $g, $b, $a);
}

@mixin pos($left: false, $top: false, $right: false, $bottom: false) {
  @if $left {
    left: $left;
  }

  @if $top {
    top: $left;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }
}

.cl {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}
