@mixin above($above) {
  @media screen and (min-width: $above){
    @content;
  }
}

@mixin below($below) {
  @media screen and (max-width: $below){
    @content;
  }
}

@mixin between($low, $high) {
  @media screen and (max-width: $low), screen and (max-width: $high) {
    @content;
  }
}

@mixin bg-color($r, $g, $b, $a) {
  $bg_color: rgba($r, $g, $b, $a);

  background-color: rgb($r, $g, $b);
  background-color: $bg_color;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='false', startColorstr='#{ie-hex-str($bg_color)}', endColorstr='#{ie-hex-str($bg_color)}');
  background-color: transparent\9;
  zoom: 1\9;
}

@mixin pos($top: false, $right: false, $bottom: false, $left: false) {
  @if $left {
    left: $left;
  }

  @if $top {
    top: $left;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }
}