@import "mo";


body {
  @include bg-color(#fff, 0.2);
  @include size(100px, 200px);
  @include size(200px);
}


a {
  :active, .tap {
    background: yellow;
    &.foo {
      background: red;
      &.zap {
        background: teal;
      }
    }
  }
}
